.app {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 15rem;
  min-height: 15rem;
  margin-right: 3rem;
}

.item {
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
  margin: 1rem;
  padding: 1rem;
  cursor: move;
}